.about-section {
  height: 500px;
  display: flex;
}

.about-pics {
  max-width: 40vw;
  z-index: 2;
}

.about-pics img {
  margin-top: -125px;
  max-height: 600px;
}

.about-text {
  min-width: 60vw;
  margin: -100px 0 -100px -100px;
  padding: 100px 100px 150px 250px;
  text-align: left;
  background-color: #fef5eb88;
  
}

.about-text p {
  font-size: 20px;
  line-height: 1.75;
}