.about-section {
  height: 500px;
  display: flex;
}

.about-pics {
  max-width: 40vw;
  z-index: 2;
}
.about-pics img {
  margin-top: -60px;
  max-height: 540px;
}

.about-text {
  min-width: 60vw;
  margin: -100px 0 -100px -140px;
  padding: 100px 70px 100px 200px;
  text-align: left;
  background-color: #fef5eb88;
  
}

.about-text p {
  font-size: 20px;
  line-height: 1.75;
}