.footer {
  color: #666666;
  padding: 50px;
  display: inline-flex;
  width: 100%;
}

.footer-column {
  padding: 10px;
}

#footer-hours {
}

#footer-address {
  text-align: center;
}

#footer-address img {
  width: 155px;
  height: 131px;
  opacity: 0.85;
  margin: 0 auto;
}

#footer-contact {
}

#footer-socials img {
  width: 60px;
  padding: 10px
}