.hero-section {
  background: url('../../assets/HeaderImage.png');
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  height: 600px;
  padding-top: 120px;
}

.hero-section div {
   margin-left: 75vw;
   width: 300px;
  }

  .cta-button {
    box-shadow: unset;
    border-style: unset;
    width: 250px;
    height:60px;
    border-radius: 0;
    margin-top: 50px;
  }
  
  .hero-text {
    position: relative;
    top: 50px;
    height: 60px;
  }






