.gallery-section{
    background-color:#e6efec;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
}

.gallery-section .column {
    padding: 0 145px;
}

.ui.grid>[class*="three column"].row>.column{
    width: auto !important;
    margin: auto;
}

.column img {
    max-height: 26vw;
    max-width: 26vw;
}
